@font-face {
  font-family: "poppins-regular";
  src: url("./assets/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-medium";
  src: url("./assets/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins-mediumItalic";
  src: url("./assets/Poppins/Poppins-MediumItalic.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "poppins-regular", sans-serif;
  line-height: normal;
  font-weight: 400;
  color: #bbbcbc;
  background: #212121;
  user-select: none;
}

input:-internal-autofill-selected, input:-webkit-autofill {
  background-color: red !important;
}
